@use "./../../styles/abstract/colors";
@use "./../../styles/abstract/breakpoints";
@use "./../../styles/base/base";

$height: 3.125rem;

.NavBar {
  box-shadow: 0px 15px 12px 0px rgba(0, 0, 0, 0.2),
    0px 19px 38px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  overflow: hidden;
  height: $height;
  background-color: colors.$secondary-800;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.spacer {
  height: calc($height + 2em);
}
