@use "./../../styles/abstract/colors" as colors;
$animation-speed: 300ms;
%remove-borders {
  &:hover {
    // border: none;
    outline: none;
  }
  &:focus {
    border: none;
    outline: none;
  }
}
.checkbox {
  @extend %remove-borders;
  background-color: colors.$secondary-800;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.innerBox {
  @extend %remove-borders;
  align-self: center;
  position: relative;
  border: none;
  width: 80%;
  height: 80%;
  background-color: colors.$secondary-900;

  &:hover {
    cursor: pointer;
  }
}
.checkmark {
  height: 110%;
  top: -20%;
  left: -10%;
  position: absolute;
  transition: all $animation-speed ease;
}

.checkmarkEnter {
  @extend .checkmark;
  // opacity: 0;
  transform: rotate(3turn);
}

.checkmarkEnterActive {
  @extend .checkmark;
  transform: rotate(0turn);
  opacity: 1;
}
